@import '../global';

#cc-main {
  .pm.bts-pm {
    background: linear-gradient(180deg, rgba(42,55,160,1) 0%, rgba(23,31,94,1) 35%, rgba(15,21,68,1) 100%);
    
    .pm__header {
      color: var(--bts-main-text);
      .cookie {
        position: relative;
        width: 20px;
        margin-right: 8px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--bts-main-text);
        .cookie-1 {
          border: 2px solid var(--bts-main-text);
          width: 2px;
          height: 2px;
          border-radius: 50%;
          position: absolute;
          top: 3px;
          left: 3px;
        }
        .cookie-2 {
          border: 1px solid var(--bts-main-text);
          height: 1px;
          width: 1px;
          position: absolute;
          top: 10px;
          left: 7px;
          border-radius: 50%;
        }
        .cookie-3 {
          border: 1px solid var(--bts-main-text);
          height: 1px;
          width: 1px;
          position: absolute;
          top: 6px;
          left: 11px;
          border-radius: 50%;
        }
      }
    }
    .pm__close-btn{

      width: calc(#{$btn-height} - 2px);
      height: calc(#{$btn-height} - 2px);
      position: relative;
      background: transparent;
      border: none;
      transition: all .15s ease;

      span {
          display: flex;
          height: 100%;
          width: 100%;
      }

      svg{
          stroke: var(--bts-secondary-text);
          stroke-width: 3px;
          transform: scale(.5);
          transition: stroke .15s ease;
      }

      &:hover{
          background: var(--bts-alt-dark-secondary);

          svg{
              stroke: var(--bts-main-text);
          }
      }
  }
  }
}