.cc--bts-darkmode {
  --bts-primary-color: #5ac775;
  --bts-secondary-color: #171f5e;

  --bts-main-bg: #121212;
  --bts-secondary-bg: #1e1e1e;
  --bts-surface: #2c2c2c;

  --bts-main-text: #ffffff;
  --bts-secondary-text: #e0e0e0;
  --bts-description-text: #b0b0b0;
  --bts-disabled-text: #808080;

  --bts-green-accent: #5ac775;
  --bts-blue-accent: #171f5e;
  --bts-yellow-accent: #ffc107;
  --bts-red-accent: #ff3d00;

  --bts-alt-primary: #81d895;
  --bts-alt-dark-primary: #3b8f53;
  --bts-alt-secondary: #2a37a0;
  --bts-alt-dark-secondary: #0f1544;
  
}